body {
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #27100f;
}

.howto{
  cursor: pointer;
}

button {
  padding: 0px 20px 0px 20px;
  background-color: #3a2222;
  border-radius: 8%;
}

h1 {
  margin: 20px 10px 0px 10px;
  font-size: 25px;
  font-weight: 100;
  color: #64442c;
}

h2 {
  font-weight: 100;
  color: #ececec;
}

.board1 {
  opacity: 1;
}

#left {
  background-color: #8a4644;
  border: none;
  width: 20vh;
  height: 6vh;
  border-radius: 5%;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

img {
  width: 320px;
  height: 450px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #fefcd5;
  text-decoration: underline;
  font-weight: 100;
}
