body {
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: left;
  background-color: #27100f;
  margin: 50px;
  color: antiquewhite;
}

#recipie {
  display: grid;
  grid-template-columns: auto;
  background-color: #f4eddd;
  padding: 30px;
  border-radius: 3%;
}
#text {
  border: #64442c 5px dashed;
  padding: 40px;
  border-radius: 2%;
}

.board1 {
  text-align: center;
}

button {
  padding: 0px 20px 0px 20px;
  background-color: #3a2222;
  border-radius: 8%;
}

h1 {
  /* margin: 20px; */
  font-size: 25px;
  font-weight: 100;
  color: #64442c;
}

h2 {
  font-weight: 100;
  color: #64442c;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

#ingredients {
  color: #270a0a;
}

ul {
  list-style-type: none;
  font-size: 25px;
  color: #8d6750;
}

#cake_slice {
  width: 373px;
  height: 550px;
  margin: 0px;
}

.popup {
  margin: 60px;
  color: #fefcd4;
  font-weight: 100;
}
/*
p {
  color: #ececec;
  font-size: 24px;
}

#title {
  color: #f1bfbe;
  font-size: 24px;
}

#loaf {
  color: #ececec;
  font-size: 24px;
  
}

#glaze {
  color: #ececec;
  font-size: 24px;
} */

/* 
.seperate {
    display: grid; 
  grid-template-columns: 1fr 1fr;
}

.popup {
  margin-bottom: 80px;
} */
